<h1>Editing collection</h1>

<%= render 'form' %>

<%= link_to 'Show', @collection %> |
<%= link_to 'All Collections', collections_path %> |
<%= link_to 'Delete', collection_path, method: :delete, data: {confirm: "Are you sure you want to delete this collection?"} %>
