<div class="page-header">
	<h1><%= @user.full_name %></h1>
</div>

<% if @collections %>
	<% @collections.each do |collection| %>
		<div class="well">
			<%= collection.title %>
			<br />
			<%= link_to time_ago_in_words(collection.created_at), collection_path(collection) %> ago
		</div>
		<% end %>
		<% end %>